*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body, #root{
  height: 100%;
}
body{
  background: #f2f2f2;
}
label{
  display: block;
  margin: 0 0 3px 2px;
  font-size: 14px;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.main-container .tree {
  width: 68%;
  transition: width .3s;
  z-index: 1;
}
.main-container .tree-actions {
  box-shadow: 1px 0 7px rgba(0,0,0,.5);
  width: 32%;
  transition: width .3s;
  z-index: 2;
  background: #f9f9f9;
}
.main-container .edit-factory {
  z-index: 3;
  width: 350px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: -350px;
  transition: right .3s;
  box-shadow: -1px 0 7px rgba(0,0,0,.5);
  background: #f9f9f9;
}
.main-container.editing .edit-factory {
  right: 0;
}
.main-container.editing .tree{
  width: calc(77% - 350px);
}
.main-container.editing .tree-actions{
  width: 23%;
}
.main-col{
  height: 100%;
  overflow-y: auto;
}
.main-col > .column-container > header {
  background: #333;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 15px 10px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
}
.main-col > .column-container > header.h-1 {
  background: linear-gradient(to right,#29323c,#485563);
  margin-bottom: 10px;
}
.main-col > .column-container > header.h-2 {
  background: linear-gradient(to right, #369c78, #45b9a3);
  margin-bottom: 15px;
}
.main-col > .column-container > header.h-3 {
  background: linear-gradient(to left,#29323c,#485563);
  margin-bottom: 10px;
}
.main-col h5{
  font-size: 12px;
  color: #777;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 2px;
}
.column-container{
  padding: 0 10px 15px;
  overflow-y: auto;
  height: 100%;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.p-10{
  padding: 10px;
}
::placeholder {
  color: #aaa;
}
.form-input{
  display: block;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bbb;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select.form-input{
  cursor: pointer;
}
.form-input:focus{
  color: #495057;
  background-color: #fff;
  border-color: #52b17c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(99, 230, 83, 0.25);
}
.form-input.input-error{
  border-color: #c51f1f;
}
.form-input.input-error:focus{
  box-shadow: 0 0 0 0.2rem rgba(195, 41, 41, 0.25);
}
.error-msg{
  font-size: 12px;
  margin: 2px;
  color: #c51f1f;;
}
.form-group{
  padding: 8px 0;
}
.column-container section{
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  margin-bottom: 20px;
}
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  border-radius: .25rem;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
  outline: none;
  fill: currentColor;
}
.btn > span{
  vertical-align: middle;
}
.btn.btn-white{
  border-color: #ccc;
}
.btn.btn-red{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn.btn-red:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn.btn-green:hover{
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn.btn-green, .btn.btn-green.disabled:hover{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn.btn-yellow{
  color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn.btn-yellow:hover{
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}
.btn.disabled, .btn:disabled {
  opacity: .6;
  cursor: default;
}
.loading-container {
  text-align: center;
}
.loading-container > div{
  animation: loading;
  display: inline-block;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: 10px 10px 0 10px;
  transform: scale3d(1,1,1);
  animation-delay: 0s;
}
.loading-container > div:nth-child(2){
  animation-delay: .3s;
}
.loading-container > div:nth-child(3){
  animation-delay: .6s;
}
@keyframes loading{
  0%{ color: #bbb; transform: scale3d(1, 1, 1); }
  50%{color: #218838;; transform: scale3d(1.15, 1.15, 1.15);}
  100%{color: #bbb; transform: scale3d(1, 1, 1); }
}
.tree-container .all-factories{
  padding-left: 25px;
  padding-bottom: 20px;
  display: none;
}
.tree-container.open .all-factories{
  display: block;
}
.factory-container{
  margin: 5px 0;
}
.factory-container > .factory-header, .root{
  font-size: 18px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .05);
  display: flex;
  justify-content: space-between;
}
.factory-container.selected > .factory-header {
  background: #f9feff;
}
.factory-container > .factory-header:hover, .root:hover{
  background: #f7f7f7;
}
.factory-container.selected > .factory-header:hover {
  background: #f5fafb;
}
.header-info {
  cursor: pointer;
}
.header-info > span{
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.header-info > span:first-child{
  color: #555;
  fill: currentColor;
}
.header-info > .angle > svg {
  vertical-align: text-bottom;
  width: 12px;
}
.factory-container .factory-children-container{
  font-size: 16px;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .05);
}
.factory-container.selected .factory-children-container {
  background: #f9feff;
}
.factory-children-container .children-info {
  font-size: 12px; 
  margin: 0 15px 10px;
  padding: 5px 1px 1px;
  border-bottom: 1px solid #ddd;
}
.factory-children-container .children-info span {
  display: inline-block;
  color: #666;
}
.children-info span:first-child::after, .children-info span:nth-child(2)::after{
  content: '\00B7';
  margin: 0 7px;
}
.factory-children-container > ul {
  margin-left: 10px;
  padding: 0 10px 10px;
  list-style-type: none;
}
.factory-children-container > ul > li {
  padding: 1px;
  font-weight: 700;
}
.factory-container.open .factory-children-container {
  display: block;
}
.factory-container.open .header-info > .angle > svg, .tree-container.open .root .header-info > .angle > svg {
  transform: rotate(90deg);
}
.no-content{
  font-size: 14px;
  font-style: italic;
  color: #777;
  padding: 10px 15px;
}
.delete-btn-container{
  margin-top: 40px;
  text-align: center;
}
.selection-container{
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.selection-container > .btn {
  font-size: 12px;
  padding: 0;
  color: #777;;
  background: rgba(0,0,0,0);
  transition: none;
}
.selection-container > .btn:hover{
  color: #444;
  text-decoration: underline;
}
.edit-btn{
  background: none;
  border: none;
  outline: none;
  color:#4273a0;
  cursor: pointer;
  width: 25px;
  fill: currentColor;
}
.edit-btn:hover, .edit-btn:focus{
  color: #3f9db5;
}
.checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #777;
  border-radius: 4px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0,0,0,0);
  transition: background-color .3s;
  fill: currentColor;
}
.checkbox:hover{
  border-color: #4d824d;
}
.checkbox.active{
  background-color: #52a585;
  border-color: #4d824d;
}
.sort-container {
  position: relative;
}
.sort-container > .sort-select{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.sort-container > .sort-list{
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px 0;
  list-style-type: none;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sort-container > .sort-list > li {
  padding: 10px;
  cursor: pointer;
}
.sort-container svg {
  margin-right: 2px;
  vertical-align: middle;
}
.sort-container > .sort-list > li:hover{
  background-color: #eee;
}
